@using NetCoreConfmad2023.Front.Data;
@using NetCoreConfmad2023.Front.Services;

@inject CartService CartService

@code {
    [EditorRequired]
    [Parameter]
    public List<Product> Products { get; set; } = new();
    [Parameter]
    public bool DisplayBuyButton { get; set; }

    private void Buy(string productId)
    {
        CartService.AddProductToCart(productId);
    }

}

@foreach (var product in Products)
{
    <div class="card w-25">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
            <blockquote class="card-text">$@product.Price</blockquote>
            @if (DisplayBuyButton)
            {
                <button class="btn btn-primary" type="button" @onclick="() => Buy(product.Id)">Buy</button>
            }
        </div>
    </div>
}